.button {
  position: absolute;

  /* margin-bottom: 20px; */
}
.inputField1 {
  flex-grow: 1;
  /* height: 90px; */
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.error {
  margin-left: 5px;
  margin-top: -2px;
  color: red;
}
.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00d775, #00bd68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial,
    sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  /* position: relative; */
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100px;
  margin: 10px;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS */
.score_box {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;

  color: #ffffff;

  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 2rem;
  /* height: 4rem; */
  /* padding: 1rem 1.6rem; */
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.score_box:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}
